@import "./fonts.css";
@import "./reset.css";

body {
  font-family: "Raleway" , sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background: #303030;
}

.header__box {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  line-height: 2.4;
  align-items: center;
  padding: 0 15px;
  position: relative;
}

.header__box a {
  color: white;
  font-weight: 600;
}

.header__box > a {
  font-size: 250%;
}

.header__menu {
  display: flex;
  line-height: 4;
  overflow: hidden;
}

.header__menu li {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 80%;
  position: relative;
}

.header__menu li:before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #7B6D64;
  transform: translateY(0px);
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}


.header__menu li:hover:before {
  content: '';
  transform: translateY(-7px);
}

.header__menu li:last-child {
  margin-right: 0;
}

.toggle-nav {
  display: none;
}

@media screen and ( max-width: 900px ) {

  .header__box {
    border-bottom: 5px solid #464646;
  }

  .header__box a {
    display: block;
  }

  .header__menu {
    display: none;
    line-height: 1;
  }

  .header__box ul {
    position: absolute;
    right: 0;
    top: 105%;
    width: 100%;
    text-align: right;
    background: #303030;
  }

  .header__box ul > li {
    position: relative;
    padding-right: 15px;
    line-height: 3.5;
  }

  .header__box ul > li:after {
    content: '';
    right: 0;
    width: 100%;
    height: 1px;
    background: #464646;
    position: absolute;
  }

  .header__box ul > li:last-child:after {
    background: inherit;
  }
}

/** END HEADER **/


.bunner {
  background: #0C0805;
  color: white;
  padding: 188px 0;
}

.bunner__box {
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 15px;
}

.bunner__box > span {
  font-size: 140%;
  font-weight: 600;
}

.bunner__box p {
  margin: 20px 0;
  font-size: 400%;
  width: 75%;
  line-height: 1.1;
}

.bunner__box p > span {
  color: #7B6D64;
  font-weight: 600;
}

.bunner__box button {
  background: #27241F;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 20px 70px;
  font-family: "Raleway" , sans-serif;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 3px;
}

.bunner__box button > span {
  margin-right: 10px;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 2px;
}

.bunner__box button > i {
  font-size: 120%;
}

@media screen and ( max-width: 400px ) {
  .bunner__box p {
    font-size: 200%;
  }

  .bunner__box > span {
    font-size: 100%;
  }

  .bunner__box button {
    padding: 20px 50px;
  }
}

/** END BUNNER **/


.about__title {
  text-align: center;
  margin: 80px auto;
  max-width: 1200px;
}

.title {
  font-size: 250%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7B6D64;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title:after {
  content: "";
  width: 70px;
  height: 6px;
  background: #7B6D64;
  margin-bottom: 10px;
  margin: 45px auto;
}

.about__title p {
  width: 40%;
  font-size: 110%;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #000000c4;
}

.about__best {
  background: #F5F5F5;
  display: flex;
}

.about__best-content {
  padding: 90px 77px;
  overflow: hidden;
  max-width: 1200px;
}

.about__best-content h1 {
  text-transform: uppercase;
  font-size: 150%;
  letter-spacing: 1px;
  color: #7B6D64;
}

.about__best-content p {
  margin: 25px 0;
  line-height: 2;
}

.about__best-content button {
  font-family: "Raleway" , sans-serif;
  padding: 13px 25px;
  border: 2px solid #000000;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 100%;
  background: inherit;
  cursor: pointer;
  transition: .3s;
}

.about__best-content button:hover {
  background: black;
  color: white;
}

.about__best-content button > span {
  margin-right: 5px;
}

.about__best-img {
  background: url(../images/about.jpg);
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .about__best-img {
    display: none;
  }

  .about__best-content {
    padding: 90px 20px;
  }
}

/** END ABOUT **/

.about__info {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.about__info > h1 {
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 700;
  padding: 50px 0 35px;
  letter-spacing: 1px;
  color: #7B6D64;
}

.about__info > p {
  line-height: 1.9;
  width: 85%;
  margin: 0 auto;
  color: #000000b5;
  letter-spacing: 1px;
}

.about__info-services {
  display: flex;
  margin-top: 80px;
}

.about__info-services i {
  font-size: 150%;
  color: #00000073;
}

.about__info-services h1 {
  margin: 30px 0 20px;
  text-transform: uppercase;
  font-size: 120%;
  color: #000000c2;
}

.about__info-services p {
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  letter-spacing: 1px;
  color: #9a9a9a;
}

.about__info-skills {
  background: url(../images/bgCamer.jpg) 50% 100% no-repeat;
  background-size: cover;
  margin-top: 70px;
}

.about__info-skills h1 {
  font-size: 150%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 100px 0 45px;
  letter-spacing: 2px;
}

.about__bg {
  background: #000000ab;
}

.about__box-circles {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about__box-circle {
  color: white;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}

.about__box-circle span {
  line-height: 5;
  text-transform: capitalize;
}

.about__out-circle {
  border: 4px solid #7D6C64;
  border-radius: 50%;
  padding: 6px;
}

.about__circle {
  border: 3px solid white;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  line-height: 8.5;
}

@media screen and (max-width: 800px) {
  .about__info-services {
    display: block;
  }

  .about__info-services div {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  .about__box-circles {
    margin: 5%;
    justify-content: center;
  }

  .about__box-circle {
    margin: 1%;
    padding-bottom: 0;
  }
}

/** END ABOUT **/


.portfolios__title {
  text-align: center;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.portfolios__title p {
  width: 40%;
  font-size: 110%;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #000000c4;
}

.portfolios__gallery {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  overflow: hidden;
}

.portfolios__img {
  height: 350px;
  width: 300px;
  min-width: 300px;
  flex: 1;
  position: relative;
}

.portfolios__img img {
  width: 100%;
  height: 100%;
}

.portfolios__img--hover {
  height: 90%;
  width: 90%;
  text-align: center;
  background: #000000a3;
  color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: opacity 0.8s, visibility 0.8s;
  text-transform: uppercase;
}

.portfolios__img--hover h1 {
  font-size: 120%;
  font-weight: 600;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolios__img--hover h1:after {
  content: "";
  width: 40px;
  height: 6px;
  background: white;
  margin: 40px auto;
}

.portfolios__img--hover span {
  letter-spacing: 1px;
}

.portfolios__img--hover:hover {
  opacity: 1;
  transition: opacity 0.8s, visibility 0.8s;
}

.portfolios__info {
  color: white;
  background: black;
  text-align: center;
  padding: 135px 0;
  font-weight: 600;
}

.portfolios__info h1 {
  text-transform: uppercase;
  font-size: 150%;
  margin-bottom: 35px;
}

.portfolios__info p {
  font-size: 120%;
  margin-bottom: 35px;
}

.portfolios__info a {
  color: #27C6F0;
  font-size: 110%;
}

.portfolios button {
  font-family: "Raleway" , sans-serif;
  padding: 15px 40px;
  border: 2px solid #000000;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 100%;
  background: inherit;
  cursor: pointer;
  margin: 90px auto;
  display: block;
  transition: .3s;
}

.portfolios button:hover {
  background: black;
  color: white;
  border-color: white;
}

.portfolios button > span {
  margin-right: 10px;
}

/** END PORTFOLIOS **/


.team {
  background: #F5F5F5;
}

.team__peoples {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 95px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1130px) {
  .team__person {
    margin: 10px;
  }

  .team__peoples {
    justify-content: center;
  }
}

.team__person:hover .team__name {
  border-color: black;
}

.team__person:hover .team__avatar ul {
  transform: translateY(0%);
}

.team__avatar {
  max-width: 370px;
  overflow: hidden;
  position: relative;
}

.team__avatar img {
  width: 100%;
}

.team__avatar ul {
  display: flex;
  justify-content: center;
  background: #000000ad;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 11;
  font-size: 200%;
  transform: translateY(100%);
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.team__avatar ul li:first-child {
  transform: translateX(-200%);
  transform: translateY(0%);
  transition: transform .6s ease-out, -webkit-transform .6s ease-out;
}

.team__person:hover .team__avatar ul li:first-child {
  transform: translateX(200%);
}

.team__avatar ul li:last-child {
  transform: translateX(200%);
  transform: translateY(0%);
  transition: transform .6s ease-out, -webkit-transform .6s ease-out;
}

.team__person:hover .team__avatar ul li:last-child {
  transform: translateX(-200%);
}

.team__avatar ul a {
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: block;
  margin: 150px 10px 0;
}

.team__avatar ul i {
  display: block;
  text-align: center;
}

.team__name {
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #E4E4E4;
  line-height: 1.5;
  margin-top: 33px;
  padding: 15px 0;
}

.team__name h1 {
  font-size: 150%;
}

.team__name span {
  font-size: 80%;
  letter-spacing: 2px;
  font-weight: 300;
}

.team__reviews {
  color: white;
  background: black;
  text-align: center;
  padding: 85px 0;
  font-weight: 600;
}

.team__reviews h1 {
  text-transform: uppercase;
  font-size: 150%;
  margin-bottom: 35px;
}

.team__reviews p {
  font-size: 120%;
  max-width: 800px;
  margin: 0 auto 45px;
  line-height: 2;
  font-weight: normal;
  color: #ffffff9c;
}

.team__reviews span {
  display: block;
  margin-bottom: 15px;
  color: #796A63;
}

.team__reviews a {
  color: #27C6F0;
  font-size: 110%;
}

.team__carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.team__carousel-dots li {
  margin: 5px;
}

.team__carousel-dots li button {
  border-radius: 50%;
  border: 2px solid white;
  padding: 0px 4px;
  background: inherit;
}

/** END TEAM **/

.blog {
  background: #F5F5F5;
  padding-bottom: 50px;
}

.blog__posts {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.blog > button {
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 7px solid #EBEBEB;
  font-size: 100%;
  background: #7B6D64;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

.blog__post {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  position: relative;
}

.blog__post button {
  font-family: "Raleway" , sans-serif;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 3px;
  text-transform: uppercase;
  background: inherit;
  cursor: pointer;
  margin: 20px 0 10px;
  transition: .3s;
}

.blog__post button:hover {
  background: black;
  color: white;
}

.blog__post-box {
  padding: 10px;
  background: white;
}

.blog__post:nth-child(odd) {
  border-right: 1px solid #e0e0e0;
  padding-right: 30px;
  padding-bottom: 40px;
  position: relative;
}

.blog__post:nth-child(odd):before {
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #c5c5c5;
  position: absolute;
  top: 25px;
  right: -6px;
}

.blog__post:nth-child(odd):after {
  content: '';
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(45deg);
}

.blog__post:nth-child(even):after {
  content: '';
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  top: 20px;
  left: 20px;
  transform: rotate(45deg);
}

.blog__post:nth-child(even) {
  padding-left: 30px;
}

.blog__post p {
  line-height: 2;
  color: #0000005c;
  letter-spacing: 1px;
  margin-top: 20px;
}

.blog__post-img {
  max-width: 350px;
  overflow: hidden;
}

.blog__post-img img {
  width: 100%;
}

.blog__desc {
  line-height: 2;
  text-align: center;
}

.blog__desc a {
  color: #7B6D64;
}

.blog__desc a:hover {
  text-decoration: underline;
}

.blog__desc span {
  text-transform: capitalize;
  color: #86786F;
  font-weight: 500;
  margin-bottom: 15px;
  display: block;
}

.blog__desc h1 {
  font-size: 120%;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 830px) {
  .blog__posts {
    flex-direction: column;
    align-items: center;
  }

  .blog__post:nth-child(odd), .blog__post:nth-child(even) {
    border: none;
    padding: 0;
    margin-bottom: 30px;
  }
  .blog__post:nth-child(odd):after,
  .blog__post:nth-child(even):after,
  .blog__post:nth-child(odd):before {
    display: none;
  }
}


/** END BLOG **/


.contact {
  background: #e4e4e4;
  padding-bottom: 50px;
}

.contact button {
  font-family: "Raleway" , sans-serif;
  padding: 10px 50px;
  border: 2px solid #000000;
  text-transform: capitalize;
  font-size: 100%;
  background: inherit;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  font-weight: 600;
  letter-spacing: 2px;
  transition: .3s;
}

.contact button:hover {
  background: black;
  color: white;
  border-color: #E4E4E4;
}

.contact__title {
  text-align: center;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.contact__title h1 {
  font-size: 250%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7B6D64;
}

.contact__form {
  max-width: 770px;
  margin: 0 auto;
  padding: 5px;
}

.contact__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contact__input input {
  font-family: inherit;
  width: 48%;
  border: none;
  border-top: 4px solid #242424;
  background: inherit;
  font-size: 100%;
  color: #5B5B5B;
  font-weight: 400;
  padding-top: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contact__input input::placeholder {
  margin-left: 10px;
}

.contact textarea {
  font-family: inherit;
  width: 100%;
  border: none;
  border-top: 4px solid #242424;
  border-bottom: 1px solid black;
  background: inherit;
  font-size: 100%;
  color: #5B5B5B;
  font-weight: 400;
  padding-top: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.footer {
  background: #222222;
}

.footer__box {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  flex-wrap: wrap;
}

.footer__box-block {
  flex: 1;
  padding: 0 15px;
}

.footer__box-block p {
  line-height: 1.7;
  margin-bottom: 30px;
  font-size: 90%;
  color: #7C7C7C;
  font-weight: 600;
}

.footer__box-block h1 {
  font-weight: 600;
  font-size: 120%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffffc9;
  margin-bottom: 25px;
}

.footer__box-block h2 {
  font-size: 250%;
  font-weight: bold;
  color: #7B6D64;
  margin-bottom: 20px;
}

.footer__recent {
  border-bottom: 1px solid #393939;
  margin-top: 20px;
}

.footer__recent span {
  line-height: 1.7;
}

.footer__recent span > span {
  line-height: 0;
  transition: .3s;
}

.footer__recent span > span:hover {
  color: #7d5d48;
}

.footer__recent-date {
  font-size: 70%;
  text-transform: uppercase;
  color: #5d5d5d;
  font-weight: 600;
  margin-top: 20px;
}

.footer__recent-date > span {
  color: #7B6D64;
  font-size: 110%;
  letter-spacing: 1px;
  font-weight: bold;
}

.footer__recent-post {
  display: block;
  color: #828282;
  font-weight: 700;
  font-size: 90%;
  margin-bottom: 25px;
}

.footer__copyright {
  background: black;
  line-height: 3.5;
  color: #4D4D4D;
  text-align: center;
  font-weight: 600;
}
